body
{ 
background-color:#363636;
background-repeat:no-repeat;
background-attachment:fixed;
background-position:center;
background-size:cover;
}

img.face
{
    
position:absolute;
left:25%;
top:150px;
text-decoration:none;
}
img.face1
{
    
position:absolute;
left:50%;
top:150px;
text-decoration:none;
}
h2,h3{
    color:#9A9A9A;
    text-align:center;
    font-family:cursive;
}
div.img
{
  margin: 7px;
 
  height: auto;
  width: auto;
  float: left;
  text-align: center;
  text-decoration:none;
}	
div.img img
{
  display: inline;
  margin: 8px;
  border: 1px solid #ffffff;
  text-decoration:none;
}
div.img a:hover img {border: 1px solid #000000;
text-decoration:none;}
div.desc
{
  text-align: center;
  font-weight:normal;
  width: 100px;
  margin: 1px;
  text-decoration:none;
  font-family:cursive;
  
}

p {
  
    text-align:center;
    font-family:serif;
    font-size:x-large;
    width:50%;
    color:#9A9A9A;
    font-family:cursive;
}
